#formInputs{
    margin-bottom: 20px;
}
#modalMovetoCenter{
    margin-right: 900px;
    margin-bottom: 200px;
    
}
@media screen and (max-width:1100px){
#modalMovetoCenter{
margin-left:140px; 

   
}
}
@media screen and (max-width:800px){
#modalMovetoCenter{
margin-left:2px;  

}
}
