@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}
.carDropMenu{
  left:200px;
  width:300px;
  top:95px;
  border-radius: 10px;
}
@media screen and (max-width:1026px){
  .carDropMenu{
      left:200px; 
      width:300px;
      top:85px;
      border-radius: 10px; 
  }
  }
.truckDropMenu{
  left:260px;
  width:300px;
  top:95px;
  border-radius: 10px;
}
@media screen and (max-width:1026px){
  .truckDropMenu{
      left:260px; 
      width:300px;
      top:85px;
      border-radius: 10px; 
  }
  }
.boatDropMenu{
  left:350px;
  width:300px;
  top:95px;
  border-radius: 10px;
}
@media screen and (max-width:1026px){
  .boatDropMenu{
      left:350px; 
      width:300px;
      top:85px;
      border-radius: 10px; 
  }
  }
.adminDropMenu{
  left:1100px;
  width:300px;
  border-radius: 10px;
  top:95px;
}
@media screen and (max-width:1370px){
  .adminDropMenu{
      left:1000px; 
      width:300px;
      top:95px;
      border-radius: 10px; 
  }
  }
  @media screen and (max-width:1026px){
    .adminDropMenu{
        left:700px; 
        width:300px;
        top:85px;
        border-radius: 10px; 
    }
    }
  

@media screen and (max-width:1367px){
  #inputForm{
      display:none;  
  }
  }



