.welcomeSection{
margin-top: 100px;
margin-left: 400px;
}
@media screen and (max-width:1368px){
.welcomeSection{
margin-top: 100px;
margin-left: 200px;
}
}
.buttonHome{
color:white;
width:25%;
margin-left: 30%; 
text-decoration: none;
}

#enter{
text-decoration: none;
}