<%- include('partials/header') %>




  
    <h1 class="display-3 welcomeSection">Welcome to <img src= /images/logo.png height="200" /></h1>
 
    <hr>
    <Button class="btn btn-outline-secondary btn-lg btn-block buttonHome"><a id ="enter" href="login">Enter</a></Button>