<%- include('partials/header') %>


<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="home"><img src= /images/logo.png height="60" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  
      <div class = "IntroHeaderOnNavbar">
        <%users.forEach(function(user,index,array){%>
          <%if(index === array.length -1) {%>
       <h5> Welcome, <%=user.username%><%=user.displayName%></h5>
        <%}%>
       <% }) %>
      </div>
      <div class="container">
        <!-- Button to Open the Modal -->
        <img id="cursorToHandInfoButton" src="https://img.icons8.com/fluent/48/000000/info-popup.png" height="40" cursor="pointer" data-toggle="modal" data-target="#myModal">
          
        
      
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
            
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">User Profile:</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              
              <!-- Modal body -->
              <div class="modal-body">
                <h1><div class="container">
                  <h2></h2>
                
                
                  <!-- The Modal -->
                  <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Modal Heading</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  
                </div>
                </h1>
              </div>
              
              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
     <a class="navbar-link" href="admin"><img src= "https://img.icons8.com/fluent/96/000000/window-secured.png" height="40" /></a>

    
    
    <!-- <form action="/navbar" id="inputForm" method="POST"class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name ="inputMake" placeholder="Search Inventory" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
