<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li class="has-subnav">
                    <a class="nav-link" href="home">
                      <img src="https://img.icons8.com/plasticine/100/000000/garage-door-part-open.png" height= "40"/>
                      <span class="nav-text">
                        Home
                      </span>
                      </a>
                  </li>
                  <li class="has-subnav">
                    <a class="nav-link" href="carInventory" id="" role="button" aria-haspopup="true" aria-expanded="false">
                      <img src="https://img.icons8.com/fluent/96/000000/car.png" height= "40"/>
                      <span class="nav-text">
                        Car
                      </span>
                      </i>
                    </a>
                  </li>
                  <li class="has-subnav">
                    <a class="nav-link" href="forms" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://img.icons8.com/dusk/128/000000/google-forms.png" height= "40"/>
                      <span class="nav-text">
                        Forms
                      </span>
                      </i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="has-subnav" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://img.icons8.com/fluent/96/000000/car-service.png" height= "40"/>
                      </i>
                      <span class="nav-text">
                        Repair Services
                      </span>
                    </a>
                  </li>
                  <li class="has-subnav">
                    <a class="nav-link" href="" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://img.icons8.com/officel/80/000000/doughnut-chart.png" height= "40"/>
                      <span class="nav-text">
                        Chart Data
                      </span>
                      </i>
                    </a>
                  </li>
                <li>
                <li class="has-subnav">
                    <a class="nav-link" href="" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://img.icons8.com/dusk/64/000000/grid.png" height= "40"/>                         
                        <span class="nav-text">
                        Tables
                      </span>
                      </i>
                    </a>
                  </li>
                <li class="has-subnav">
                  <a class="nav-link" href="" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="https://img.icons8.com/ultraviolet/40/000000/marker.png" height= "40"/>                         
                    <span class="nav-text">
                      Location
                    </span>
                    </i>
                  </a>
                </li>
                <li class="has-subnav">
                 <a class="nav-link" href="/logout" id="logoutButton" role="button"  aria-haspopup="true" aria-expanded="false">
                    <img src="https://img.icons8.com/officel/160/000000/cancel.png" height= "40"/>                        
                    <span class="nav-text">
                      Logout
                    </span>
                    </i>
                  </a>
                </li>
            </ul>
                  
            


            
        </nav>
        
  </body>
    </html>
     