@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.background {
  background-color: rgba(25, 25, 30, 0.847);
  height: 1050px;
  width: auto;
}

.card1 {
  height: 470px;
  margin-top: 10%;
  margin-right: 1%;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(35, 72, 114, 0.5) !important;
  border-radius: 10px;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: black;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: #030303;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #1e72d3;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0  !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.remember {
  color: #030303;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #1e72d3;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.d-flex a {
  color: black;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
  color: black;
}

.registerText {
  margin-top: 40px;
}

.signUpText {
  margin-top: 30px;
}

body {
  background-color: #3d3d3b;
  color: #9f9fa8;
}

h2, h3, p {
  color: #d4b28b;
}

h4, h5 {
  color: #c07015;
  text-align: center;
  padding-top: 8px;
}

.topLogo {
  padding-top: 0;
}

.vehicleSelections_Button {
  margin-left: 80px;
}

#modalButtons {
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 7px;
}

.JeepModalOne {
  padding-bottom: 20px;
  color: black;
  border-radius: 30px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  height: 260px;
  width: auto;
}

.logoutButton {
  margin-left: 100px;
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: #26272b;
  margin-top: 10px;
  margin-bottom: 50px;
}

.tableCarInventory {
  margin-left: 100px;
  width: 92%;
  border-radius: 15px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1368px) {
  .tableCarInventory {
    width: 90%;
    margin-left: 40px;
  }
}

.tableTruckInventory {
  margin-left: 100px;
  width: 92%;
  border-radius: 15px;
  margin-bottom: 100px;
}

@media screen and (max-width: 1368px) {
  .tableTruckInventory {
    width: 88%;
  }
}

@media screen and (max-width: 768px) {
  .idRowInTable {
    display: none;
  }
}

.homeHeader {
  width: 180px;
  height: 40px;
  background-color: #26272b;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 10px;
}

.carHeader {
  width: 280px;
  height: 40px;
  background-color: #26272b;
  margin-top: 20px;
  margin-left: 700px;
  margin-bottom: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1200px) {
  .carHeader {
    width: 280px;
    height: 40px;
    background-color: #26272b;
    margin-top: 20px;
    margin-left: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
}

.truckHeader {
  width: 280px;
  height: 40px;
  background-color: #26272b;
  margin-top: 20px;
  margin-left: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.pickupPointIconNavBar {
  padding-right: 20px;
}

.backgroundForButtonsAboveTable {
  width: 520px;
  height: 60px;
  background-color: #212529;
  margin-top: 20px;
  margin-left: 1100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

@media screen and (max-width: 1450px) {
  .backgroundForButtonsAboveTable {
    width: 520px;
    height: 60px;
    background-color: #212529;
    margin-top: 20px;
    margin-left: 400px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

@media screen and (max-width: 900px) {
  .backgroundForButtonsAboveTable {
    width: 520px;
    height: 60px;
    background-color: #212529;
    margin-top: 20px;
    margin-left: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

#modalButtons {
  margin-top: 10px;
  margin-left: 10px;
  background-color: #5fa2db;
  border: none;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  position: relative;
  width: 36px;
  font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link > .fa {
  top: 3px;
  line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link > .fa > .badge {
  top: -10px;
}

@media (min-width: 576px) {
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }
  .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link > .fa > .badge {
    top: -7px;
  }
}

.IntroHeaderOnNavbar {
  width: 1000px;
  height: 40px;
  background-color: #26272b;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  margin-left: 60px;
}

#cursorToHandInfoButton {
  cursor: pointer;
}

@media screen and (max-width: 1030px) {
  #cursorToHandInfoButton {
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  #adminLinkIcon {
    display: none;
  }
}

.site-footer {
  background-color: #26272b;
  padding: 50px 0 50px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}

.footer-links li {
  display: block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center;
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}

.social-icons a.facebook:hover {
  background-color: #3b5998;
}

.social-icons a.twitter:hover {
  background-color: #00aced;
}

.social-icons a.linkedin:hover {
  background-color: #007bb6;
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.site-footer h6 {
  padding-left: 15px;
}

.text-justify {
  padding-left: 15px;
}

.footer-links {
  padding-left: 15px;
}

.inventoryHeader {
  text-align: center;
}

body {
  font-family: 'Varela Round', sans-serif;
}

#myModal {
  margin-top: 0;
}

.modal-content {
  margin-top: 200px;
  background-color: #212529;
}

.modal-confirm {
  color: #636363;
  width: 400px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
}

.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-body {
  color: #999;
}

.modal-confirm .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}

.modal-confirm .modal-footer a {
  color: #999;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}

.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}

.modal-confirm .btn, .modal-confirm .btn:active {
  color: #212529;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  line-height: normal;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
}

.modal-confirm .btn-secondary {
  background: #c1c1c1;
}

.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
  background: #a8a8a8;
}

.modal-confirm .btn-danger {
  background: #f15e5e;
}

.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
  background: #ee3535;
}

.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.deleteButton {
  margin-bottom: 3px;
}

#rowHeight {
  padding-top: 4px;
}

.welcomeSection {
  margin-top: 100px;
  margin-left: 400px;
}

@media screen and (max-width: 1368px) {
  .welcomeSection {
    margin-top: 100px;
    margin-left: 200px;
  }
}

.buttonHome {
  color: white;
  width: 60%;
  margin-left: 20%;
  text-decoration: none;
}

#enter {
  text-decoration: none;
}

@media screen and (max-width: 1630px) {
  #topIframeA {
    width: 400px;
  }
}

@media screen and (max-width: 1630px) {
  #topIframeB {
    width: 400px;
  }
}

@media screen and (max-width: 1615px) {
  #topIframeC {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #topIframeA {
    width: 550px;
  }
}

@media screen and (max-width: 1000px) {
  nav.main-menu {
    top: 115px;
  }
}

@media screen and (max-width: 900px) {
  nav.main-menu {
    top: 190px;
  }
}

@media screen and (max-width: 1000px) {
  #topIframeB {
    display: none;
  }
}

.fa-2x {
  font-size: 3em;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.main-menu {
  background: #212529;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  top: 120px;
  bottom: 0;
  height: 515px;
  border-radius: 0 15px 15px 0px;
  left: 0;
  width: 80px;
  overflow: hidden;
  -webkit-text-decoration: width .05s linear;
          text-decoration: width .05s linear;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  text-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
}

.main-menu > ul {
  margin: 20px 20;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.main-menu li > a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 17px;
  text-decoration: none;
  text-transform: translateZ(0) scale(1, 1);
  -webkit-text-decoration: all .1s linear;
          text-decoration: all .1s linear;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.main-menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
  padding-left: 20px;
}

.main-menu > ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover, a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul, nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.main-menu li:hover > a, nav.main-menu li.active > a, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .no-touch .dashboard-page nav.dashboard-menu ul li:hover a, .dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #5fa2db;
  border-radius: 5px 5px;
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format("woff");
}

#logoutButton {
  margin-top: 50px;
}

.search {
  width: 518px;
  height: 40px;
  margin-left: 1100px;
  background: #272626;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #fff;
}

.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #ccc;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search input:focus {
  outline: 0;
  background: transparent;
}

.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.search button:hover {
  background: #fff;
  color: #444;
}

.search button:active {
  -webkit-box-shadow: 0px 0px 12px 0px #e1e1e1;
          box-shadow: 0px 0px 12px 0px #e1e1e1;
}

.search button:focus {
  outline: 0;
}

@media screen and (max-width: 1450px) {
  .search {
    margin-left: 400px;
  }
}

@media screen and (max-width: 900px) {
  .search {
    margin-left: 200px;
  }
}

#formInputs {
  margin-bottom: 20px;
}

#modalMovetoCenter {
  margin-right: 800px;
}

@media screen and (max-width: 1100px) {
  #modalMovetoCenter {
    margin-left: 140px;
  }
}

@media screen and (max-width: 800px) {
  #modalMovetoCenter {
    margin-left: 2px;
  }
}
/*# sourceMappingURL=MainPage.css.map */